<section class="hero is-primary is-small is-transparent">
    <div class="hero-body is-centered">
        <div class="content title is-1 has-text-white">Scenic Spots</div>
    </div>
</section>

<body>
    <section class="section has-background-primary">
        {{#each scenery}}
        <div class="box">
            <article class="media">
                <div class="media-left">
                    <figure class="image is-64x64">
                        <img src="{{img}}"
                             alt="Image">
                    </figure>
                </div>
                <div class="media-content">
                    <div class="content">
                        <p>
                            <strong>{{name}}</strong> <small>{{city}}</small> <small>{{state}}</small>
                            <br>
                            {{description}}
                        </p>
                    </div>
                    <a class="button is-danger is-rounded"
                       href="/scenery/{{_id}}">View
                        Scenic Spot</a>
                </div>
            </article>
        </div>
        {{/each}}
    </section>
</body>