{{#each paths}}
<h1>Path</h1>
<div style="border: 5px solid black">
    {{name}}
    {{destination}}
    {{startingPoint}}
    {{description}}
    <a href="{{_id}}/path"><button>view path</button></a>
</div>
{{/each}}