<h1>{{paths.name}}</h1>

<h3>{{paths.destinationCity}}</h3>
<h3>{{paths.destinationState}}</h3>

<a href="/{{paths._id}}/addStop/activity"><button>Add Activity Stop</button></a>
<a href="/{{paths._id}}/addStop/food"><button>Add Food Stop</button></a>
<a href="/{{paths._id}}/addStop/gasStation"><button>Add Gas Station Stop</button></a>
<a href="/{{paths._id}}/addStop/scenery"><button>Add Scenery Stop</button></a>

{{paths.stops}}