<h1>{{gasStation.name}}</h1>

<h3>{{gasStation.city}}</h3>
<h3>{{gasStation.state}}</h3>
<h3>{{gasStation.category}}</h3>

<p><a href="/gasStation/delete/{{gasStation._id}}"
       class="button is-small has-text-danger">Delete</a></p>