<h1>{{activitys.name}}</h1>

<h3>{{activitys.city}}</h3>
<h3>{{activitys.state}}</h3>
<h3>{{activitys.type}}</h3>

<p><a href="/activity/delete/{{activitys._id}}"
       class="button is-small has-text-danger">Delete</a></p>