<h1>{{paths.name}}</h1>

<h3>{{paths.destinationCity}}</h3>
<h3>{{paths.destinationState}}</h3>

<a href="/{{paths._id}}/addStop/activity"><button class="button ">Add Activity Stop</button></a>
<a href="/{{paths._id}}/addStop/food"><button class="button">Add Food Stop</button></a>
<a href="/{{paths._id}}/addStop/gasStation"><button class="button">Add Gas Station Stop</button></a>
<a href="/{{paths._id}}/addStop/scenery"><button class="button">Add Scenery Stop</button></a>

<div> {{#each paths.activity}} {{name}}
    {{city}}
    {{/each}}</div>
<div>{{#each paths.food}}
    {{name}}
    {{city}}
    {{/each}}</div>
<div>{{#each paths.gasStation}}
    {{name}}
    {{city}}
    {{/each}}</div>
<div>{{#each paths.scenery}}
    {{name}}
    {{city}}
    {{/each}}</div>